{% extends "base.html" %}

{% block extra_js %}
<script src="../static/js/track_selector.js"></script>
<link rel="stylesheet" href="../static/css/track_selector.css">
{% endblock %}
{% block content %}
<div id="main_selection_container" class="container">
    <form id="genome_selection_form" method="post" class="form col-sm-6"
          role="form" action="show_available_tracks" style="width: 100%">
        <div class="container col-sm-8" id="genome_select_container">
            <select class="form-control" name="genome_select" id="genome_select">
                <option selected="selected">-- select genome --</option>
                {% for g in genomes %}
                    {% if g == genome %}
                        <option selected="selected">{{g}}</option>
                    {% else %}
                        <option>{{g}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="container col-sm-3" id="show_BWs_container">
            <button class="btn btn-primary" type="submit" id="showBWs">
                <span class="fa fa-refresh">&nbsp;Show Available BWs</span>
            </button>
        </div>
        {% if genome_path %}
        <div class="container col-sm-12">
            <h3>Select tracks to be made visible:</h3>
        </div>

        <div class="col-sm-6" id="left_linkDb">
            <div class="col-sm-6" id="filter_select_container">

            </div>
            <div class="input-group col-sm-6">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" id="linkDbName"
                        placeholder="Name of track collection">

            </div>
        </div>
        <div class="container col-sm-2" id="genLinkDiv">
            <button class="btn btn-success" type="button" id="genLinkOut">
                <span class="fa fa-recycle">&nbsp;Generate link-out</span>
            </button>
        </div>
        <div class="container col-sm-3" id="linkOutDiv">
        </div>


        {% endif %}
        <div class="container col-sm-12" style="padding-top: 10px;">
            <table class="table table-condensed">
                <thead>
                {% if genome_path %}
                <tr>
                    <th>
                        <input type="checkbox" class="check" id="checkAll">
                    </th>
                    <th>
                        all/none
                    </th>
                    <th>
                        Short Label
                    </th>
                    <th>
                        Long Label
                    </th>

                </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for track in tracks %}
                    <tr id="tracks['track']['longLabel']">
                        <td>
                            <input type="checkbox" class="check" value="{{track}}" name="track">
                        </td>
                        <td>{{track}}</td>
                        <td>{{tracks[track]['shortLabel']}}</td>
                        <td>{{tracks[track]['longLabel']}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock %}